# Base
Django==5.1.7
djangorestframework==3.15.2
psycopg2-binary==2.9.10  # PostgreSQL driver for production and development

# Development
python-dotenv==1.0.1  # Environment variable management
django-debug-toolbar==5.0.1  # Debugging tool for development

# Production
gunicorn==23.0.0  # WSGI server for production

# Test
pytest==8.3.5
pytest-django==4.10.0
factory_boy==3.3.3  # For generating test data